---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
//import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const pageTitle = "The Chris Moles Programming Blog";
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---
<BaseLayout pageTitle={pageTitle}>
	<p>This is where I will post about programming.</p>
	<ul>
		{posts.map((post) => 
		<BlogPost url={`/blog/${post.slug}/`} title={post.data.title} />
		)}
	</ul>
</BaseLayout>

