---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allBlogPosts = await Astro.glob('../../content/blog/*.md');
const allProjectPosts = await Astro.glob('../../content/projects/*.md');
const allWebPosts = await Astro.glob('../../content/web/*.mdx');
const allGamePosts = await Astro.glob('../../content/games/*.mdx');
const tags = [...new Set([
	...allBlogPosts
	.filter((post) => post.frontmatter.tags?.length > 0)
	.filter((post) => !post.frontmatter.draft)
	.map((post) => post.frontmatter.tags).flat(),
	...allProjectPosts
	.filter((post) => post.frontmatter.tags?.length > 0)
	.filter((post) => !post.frontmatter.draft)
	.map((post) => post.frontmatter.tags).flat(),
	...allWebPosts
	.filter((post) => post.frontmatter.tags?.length > 0)
	.map((post) => post.frontmatter.tags).flat(),
	...allGamePosts
	.filter((post) => post.frontmatter.tags?.length > 0)
	.map((post) => post.frontmatter.tags).flat()
])]
const pageTitle = "Tag Index";
---
<BaseLayout pageTitle={pageTitle}>
	<div class="tags">
			{tags.map((tag) => (
			<p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
			))}
	</div>
</BaseLayout>
<style>
	.tags {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
	}

	.tag {
		margin: 0.25em;
		border: dotted 1px var(--tag-border);
		border-radius: .5em;
		padding: .5em 1em;
		font-size: 1.15em;
		background-color: var(--tag-bg);
	}

	:global(.dark) .tag {
		background-color: var(--tag-bg-dark);
		border-color: var(--tag-border-dark);
	}
</style>
