---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Christopher Moles Website</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about">About</a>

		<h1>About Me</h1>
		<h2>... and my personal website.</h2>

		<p>Work in progress. Will update in the future.</p>
	</body>
</html>

