---
---
<div id="container">
	<div id="friend">
	<div id="container-friend-head">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 8 8" shape-rendering="crispEdges">
			<g class="friend-head-1">
			<path stroke="#ab5236" d="M2 0h6M0 1h7M0 2h4M6 2h1M0 3h2M0 4h2M0 5h1M0 6h1" />
			<path stroke="#ffccaa" d="M4 2h2M2 3h4M2 4h1M4 4h2M7 4h1M1 5h2M4 5h4M1 6h6M1 7h5" />
			<path stroke="#000000" d="M6 3h1M3 4h1M6 4h1M3 5h1" />
			</g>
		</svg>
	</div>
	<div id="container-friend-body">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 8 8" shape-rendering="crispEdges">
			<g class="friend-body-1">
			<path stroke="#000000" d="M1 0h1M5 0h1M1 1h1M6 1h1M0 2h1M6 2h1M0 3h1M6 3h1M0 4h1M6 4h1M0 5h1M6 5h1M0 6h1M6 6h1" />
			<path stroke="#ff004d" d="M2 0h3M2 1h1M4 1h2M1 2h2M5 2h1M1 3h5M2 4h3" />
			<path stroke="#fff1e8" d="M3 1h1M3 2h2" />
			<path stroke="#29adff" d="M1 4h1M5 4h1M1 5h5M1 6h1M5 6h1" />
			<path stroke="#7e2553" d="M0 7h2M5 7h3" />
			</g>
		</svg>
	</div>
	<div id="container-friend-guitar">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 8 8" shape-rendering="crispEdges">
			<g class="guitar">
			<path stroke="#ab5236" d="M6 0h2M6 1h2M5 2h2M4 3h2M3 4h2M3 5h1" />
			<path stroke="#1d2b53" d="M3 2h1M2 3h2M1 4h2M5 4h2M1 5h2M4 5h2M2 6h3" />
			</g>
		</svg>
	</div>
	<div id="container-friend-left-hand">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 8 8" shape-rendering="crispEdges">
			<g class="left-hand">
			<path stroke="#ffccaa" d="M3 3h2M3 4h2" />
			</g>
		</svg>
	</div>
	<div id="container-friend-right-hand">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 8 8" shape-rendering="crispEdges">
			<g class="right-hand">
			<path stroke="#ffccaa" d="M3 3h2M3 4h2" />
			</g>
		</svg>
	</div>
	</div>
	<div id="bob">
	<div id="container-bob-head">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 8 8" shape-rendering="crispEdges">
			<g class="bob-head-1">
			<path stroke="#00e436" d="M1 0h3M0 1h5M0 2h6M0 3h1M5 3h1M0 4h2M5 4h1M1 5h2M5 5h1M2 6h2M5 6h3M3 7h5" />
			<path stroke="#fff1e8" d="M1 3h2M2 4h2M6 4h1M3 5h2M6 5h2M4 6h1" />
			<path stroke="#000000" d="M3 3h2M6 3h2M4 4h1M7 4h1" />
		</svg>
	</div>
	<div id="container-bob-body">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 8 8" shape-rendering="crispEdges">
			<g class="bob-body-1">
			<path stroke="#000000" d="M1 0h1M0 1h1M5 1h1M0 2h1M6 2h1M0 3h1M6 3h1M0 4h1M6 4h1M0 5h1M6 5h1M0 6h1M6 6h1" />
			<path stroke="#ffec27" d="M2 0h2M1 1h4M1 2h5M1 3h5M2 4h2" />
			<path stroke="#00e436" d="M4 0h2" />
			<path stroke="#5f574f" d="M1 4h1M4 4h2M1 5h5M1 6h1M5 6h1" />
			<path stroke="#7e2553" d="M0 7h2M5 7h3" />
		</svg>
	</div>
	<div id="container-bob-guitar">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 8 8" shape-rendering="crispEdges">
			<g class="guitar">
			<path stroke="#ab5236" d="M6 0h2M6 1h2M5 2h2M4 3h2M3 4h2M3 5h1" />
			<path stroke="#1d2b53" d="M3 2h1M2 3h2M1 4h2M5 4h2M1 5h2M4 5h2M2 6h3" />
			</g>
		</svg>
	</div>
	<div id="container-bob-left-hand">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 8 8" shape-rendering="crispEdges">
			<g class="left-hand">
			<path stroke="#00e436" d="M3 3h2M3 4h2" />
			</g>
		</svg>
	</div>
	<div id="container-bob-right-hand">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.5 8 8" shape-rendering="crispEdges">
			<g class="right-hand">
			<path stroke="#00e436" d="M3 3h2M3 4h2" />
			</g>
		</svg>
	</div>
	</div>
</div>
<template id="template">
</template>
<style>
	#container {
		width: 30%;
		aspect-ratio: 1 / 2;
		position: relative;
	}
	#friend {
		position: absolute;
		left: 0%;
		width: 100%;
		height: 100%;
	}
	#bob {
		position: absolute;
		left: 175%;
		width: 100%;
		height: 100%;
		transform: scaleX(-1);
	}
	#container div div {
		width: 100%;
		height: 100%;
	}
	#container-friend-head {
		position: absolute;
		top: 0;
		left: 0;
	}
	#container-friend-body {
		position: absolute;
		top: 50%;
		left: 0;
	}
	#container-friend-guitar {
		position: absolute;
		top: 37.5%;
		left: 25%;
	}
	#container-friend-right-hand {
		position: absolute;
		top: 37.5%;
		left: 6.25%;
		animation: strum 1s infinite alternate ease-out; /* Customize animation duration and timing */
	}
	#container-friend-left-hand {
		position: absolute;
		top: 30%;
		left: 60%;
		animation: finger 8s infinite alternate step-start; /* Customize animation duration and timing */
	}
	#container-bob-head {
		position: absolute;
		top: 0%;
		left: -12.5%;
	}
	#container-bob-body {
		position: absolute;
		top: 50%;
		left: 0%;
	}
	#container-bob-guitar {
		position: absolute;
		top: 37.5%;
		left: 25%;
	}
	#container-bob-right-hand {
		position: absolute;
		top: 37.5%;
		left: 6.25%;
		animation: strum 0.125s infinite alternate ease-in-out; /* Customize animation duration and timing */
	}
	#container-bob-left-hand {
		position: absolute;
		top: 30%;
		left: 60%;
		animation: finger 2s infinite alternate step-start; /* Customize animation duration and timing */
	}
	@keyframes strum {
		0% {
			transform: translateY(0%);
		}
		100% {
			transform: translateY(6.25%);
		}
	}
	@keyframes finger {
		0% {
			transform: translate(0%, 0%);
		}
		25% {
			transform: translate(-3.125%, 3.125%);
		}
		75% {
			transform: translate(3.125%, -3.125%);
		}
		100% {
			transform: translate(-6.25%, 6.25%);
		}
	}
</style>

