---
const today = new Date();
---
<style>
	footer {
		display: flex;
		gap: 1rem;
		padding: 3em 1em 6em 1em;
	}
</style>

<footer>
	<!--<ul><li>-->
	<p>
		&copy; {today.getFullYear()} Chris Moles. All rights reserved.
	</p>
	<!--</li></ul>-->
</footer>
