---
import ThemeIcon from './ThemeIcon.astro';
import Hambuger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---
<header>
	<nav>
		<ThemeIcon />
		<Hambuger />
		<Navigation />
	</nav>
</header>
