---
---
<div class="nav-links">
	<a href="/">Home</a>
	<a href="/about">About</a>
	<a href="/web">Web</a>
	<a href="/games">Games</a>
	<a href="/blog/">Blog</a>
	<a href="/ai/">AI</a>
	<a href="/tags/">Tags</a>
</div>
