---
import FormattedDate from '../components/FormattedDate.astro';

const { title, url, pubDate, updatedDate } = Astro.props
---
<article>
	<ul>
		<li><a href={url}>{title}</a></li>
		<li><FormattedDate date={pubDate} /></li>
			{ updatedDate &&
				<li>
					Last updated on <FormattedDate date={updatedDate} />
				</li>
			}
	<ul>
</article>
