---
import BaseLayout from './BaseLayout.astro'
import { Pico8Player } from '../components/Pico8Player.jsx'
const { title, description, cart, placeholder } = Astro.props;
---
<BaseLayout pageTitle={title}>
	<p><em>{description}</em></p>
	<main>
		<Pico8Player
				cart={"/carts/"+cart}
				placeholder={placeholder}
				client:only="react" />
	</main>
	<slot />
</BaseLayout>
